body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.background {
	height: 100vh;
	width: 100%;
	background-color: red;
	display: flex;
}

.grid {
  width: 100px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}

.grid div {
	height: 5px;
	width: 5px;
}

.tetromino {
	background-color: white;
}
